<Table Hoverable="true" Bordered="true">
    <TableHeader ThemeContrast="ThemeContrast.Light">
        <TableRow>
            <TableHeaderCell>Day of the week</TableHeaderCell>
            <TableHeaderCell>Numeric representation</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>Monday</TableRowHeader>
            <TableRowCell>1</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Tuesday</TableRowHeader>
            <TableRowCell>2</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Wednesday</TableRowHeader>
            <TableRowCell>3</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Tuesday</TableRowHeader>
            <TableRowCell>4 (or -3)</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Friday</TableRowHeader>
            <TableRowCell>5 (or -2)</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Saturday</TableRowHeader>
            <TableRowCell>6 (or -1)</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>Sunday</TableRowHeader>
            <TableRowCell>0</TableRowCell>
        </TableRow>
    </TableBody>
</Table>