<Table Hoverable="true" Bordered="true">
    <TableHeader ThemeContrast="ThemeContrast.Light">
        <TableRow>
            <TableHeaderCell>Month</TableHeaderCell>
            <TableHeaderCell>Numeric representation <b style="color: red;">(for default method 1)</b></TableHeaderCell>
            <TableHeaderCell>Numeric representation <b style="color: green;">(for default method 2)</b></TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableRowHeader>January</TableRowHeader>
            <TableRowCell>6 (or -1)</TableRowCell>
            <TableRowCell>0</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>February</TableRowHeader>
            <TableRowCell>2</TableRowCell>
            <TableRowCell>3</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>March</TableRowHeader>
            <TableRowCell>2</TableRowCell>
            <TableRowCell>3</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>April</TableRowHeader>
            <TableRowCell>5 (or -2)</TableRowCell>
            <TableRowCell>6 (or -1)</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>May</TableRowHeader>
            <TableRowCell>0</TableRowCell>
            <TableRowCell>1</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>June</TableRowHeader>
            <TableRowCell>3</TableRowCell>
            <TableRowCell>4 (or -3)</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>July</TableRowHeader>
            <TableRowCell>5 (or -2)</TableRowCell>
            <TableRowCell>6 (or -1)</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>August</TableRowHeader>
            <TableRowCell>1</TableRowCell>
            <TableRowCell>2</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>September</TableRowHeader>
            <TableRowCell>4 (or -3)</TableRowCell>
            <TableRowCell>5 (or -2)</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>October</TableRowHeader>
            <TableRowCell>6 (or -1)</TableRowCell>
            <TableRowCell>0</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>November</TableRowHeader>
            <TableRowCell>2</TableRowCell>
            <TableRowCell>3</TableRowCell>
        </TableRow>
        <TableRow>
            <TableRowHeader>December</TableRowHeader>
            <TableRowCell>4 (or -3)</TableRowCell>
            <TableRowCell>5 (or -2)</TableRowCell>
        </TableRow>
    </TableBody>
</Table>