@inherits LayoutComponentBase

<button
    class="btn @((Selected ? "btn-primary" : "btn-outline-primary")) grid-item mb-1"
    style="margin-left: .12rem; margin-right: .12rem; padding: .4rem .9rem"
    @onclick="@(e => { OnClickCallback.InvokeAsync(Value); })">
@(ConvertValue(Value))
</button>

@typeparam TAnswer;

@code{
    [Parameter]
    public TAnswer Value { get; set; }

    [Parameter]
    public EventCallback<TAnswer> OnClickCallback { get; set; }

    [Parameter]
    public Func<TAnswer, string> ConvertValue { get; set; }

    [Parameter]
    public bool Selected { get; set; }
}