@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/ndsvw/DayOfTheWeekChallenge" target="_blank">
            <img id="github-icon" title="View code on GitHub" alt="View code on GitHub" src="img/github.png" width="32">
        </a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
