@inherits LayoutComponentBase

<label class="switch">
    <input type="checkbox" checked="@Checked" @onchange="@(e => { Checked = !Checked; CheckedChanged.InvokeAsync(Checked); })">
    <span class="slider round"></span>
</label>

@code{
    [Parameter]
    public bool Checked { get; set; }

    [Parameter]
    public EventCallback<bool> CheckedChanged { get; set; }
}