@page "/"

<div class="container">
    <h1>DayOfTheWeek Challenge</h1>

    <p>
        Calculating the <b>day of the week</b> of any date is not hard!<br />
        There are multiple methods you can use that require you to add, subtract, divide or conduct a modulo operation.
        That's it... Stuff that children have usually learnt at school when they are 12 years old. It's not rocket science!
    </p>

    <p>
        You want to learn it from scratch? Follow this link: <a href="/help">Help &amp; Tutorials</a>.<br />
        You have at least a bit of experience and need some examples? Go to <a href="/interactive">Interactive Examples</a>
    </p>

    <p>
        In case you want to start immediately, just open the <a href="/challenge">DOTW-Challenge</a>.<br />
        You can find more challenges and trainings marked with a puzzle icon in the navigation on the left.
    </p>
</div>