@page "/"

<div class="h-100 p-5 text-white bg-dark rounded-3">
    <h2>Calculating the day of the week of any date is not hard!</h2>
    <p>There are multiple methods you can use that require you to add, subtract, divide or conduct a modulo operation. That's it... Stuff that children have usually learnt at school when they are 12 years old. It's not 🚀-science!</p>
    <img src="img/example.gif" class="mt-1" style="width: 750px; border: 1px solid #0d6efd; border-radius: 5px;" />
    <p class="mb-1 mt-2">
        <a href="challenge" role="button" class="btn btn-outline-primary btn-lg" type="button">Start DOTW-Challenge</a>
    </p>
    <p class="mb-1 mt-4">
        You want to see some examples or want to know how to calculate the day of the week for a specific date?
    </p>
    <p>
        <a href="calculator" role="button" class="btn btn-outline-primary btn-lg" type="button">Try out the Visual calculator</a>
    </p>
</div>